<h1>Edit List Item</h1>
<form action="/lists/<%= @list.id %>" method="post">
	<div class="form-group">
		<label>Item Name:</label>
		<input type="text" name="list[item_name]" value="<%= @list.item_name %>" class="form-control">		
	</div>
	<div class="form-group">
		<label>Price:</label>
		<input type="price" name="list[price]" value="<%= @list.price %>" class="form-control">		
	</div>
	<div class="form-group">
		<label>Quanity:</label>
		<input type="text" name="list[quantity]" value="<%= @list.quantity %>" class="form-control">		
	</div class="form-group">
	<input type="submit" value="Update" class="btn btn-primary">
	
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div class="alert alert-danger"><%= e %></div>
	<% end %>
<% end %>