<h1> Shopping List Items </h1>
<table>
	<thead>
		<th>Item Name</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @lists.each do |list| %>
		<tr>
			<td></td>
			<td><%= list.item_name %></td>
			<td><%= list.price %></td>
			<td><%= list.quantity %></td>
			<td>
	<a href="/lists/<%= list.id %>/edit">Edit Shopping List Name</a>	|
	<a href="/lists/<%= list.id %>/delete">Delete Shopping List</a>	</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/lists/new">Create Shopping List Item</a>