<h1>Delete <%= @shopper.shopping_list_name %> </h1>
<form action="/shoppers/<%= @shopper.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div>
		<label>Shopping List Name:</label>
		<input type="text" name="shopper[shopping_list_name]" value="<%= @shopper.shopping_list_name %>" disabled>		
	</div>
	<div>
		<label>Store:</label>
		<input type="text" name="shopper[store]" value="<%= @shopper.store %>" disabled>		
	</div>
	<div>
		<label>Date:</label>
		<input type="text" name="shopper[date]" value="<%= @shopper.date %>" disabled>		
	</div>
	<input type="submit" value="Delete">
</form>