<h1><%=  pluralize(@shoppers.count, "Shopping List") %></h1>
<table class="table table-dark table-striped">
	<thead>
		<th scope="col">Shopping List Name</th>
		<th scope="col">Store</th>
		<th scope="col">Date</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @shoppers.each do |shopper| %>
		<tr>
			<td><%= shopper.shopping_list_name %></td>
			<td><%= shopper.store %></td>
			<td><%= shopper.date %></td>
			<td>
	<a href="/shoppers/<%= shopper.id %>">Show</a>	|
	<a href="/shoppers/<%= shopper.id %>/edit">Edit</a>	|
	<a href="/shoppers/<%= shopper.id %>/delete">Delete</a>	</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/shoppers/new" class="btn btn-primary">Create</a>