<h1><%=  pluralize(@shoppers.count, "Shopping List") %></h1>
<table>
	<thead>
		<th>Shopping List Name</th>
		<th>Store</th>
		<th>Date</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @shoppers.each do |shopper| %>
		<tr>
			<td><%= shopper.shopping_list_name %></td>
			<td><%= shopper.store %></td>
			<td><%= shopper.date %></td>
			<td>
	<a href="/shoppers/<%= shopper.id %>">Show Shopping List</a>	|
	<a href="/shoppers/<%= shopper.id %>/edit">Edit Shopping List Name</a>	|
	<a href="/shoppers/<%= shopper.id %>/delete">Delete Shopping List</a>	</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/shoppers/new">Create Shopping List</a>